<p>Greetings ${name}, it is now ${now}
	
<form action="add/" method="post">
  First name: <input type="text" name="fname"><br>
  Last name: <input type="text" name="lname"><br>
  <input type="submit" value="Submit">
</form>

<table>	
#foreach ($user in $users)
<tr>        
<td align="center">$user.fName</td>
<td align="left">$user.lName</td>
</tr>
    #end

</table>	